# Lazarus / Free Pascal compiled output
*.ppu
*.o
*.a
*.or
*.rst
*.compiled
*.bak

# Lazarus backup files
*.lps
backup/

# OS
Thumbs.db
.DS_Store
demo/MD3Demo.exe
demo/lib/
*.res
icons/treeview_temp.png

# Build logs and temp files
*.log
diff.txt
packagefiles.xml
icons/packagefiles.xml
lazbuild_help.txt
virtuals.txt
